html,
body {
  padding: 0;
  margin: 0;
}

body {
  /*background: #272343;*/
  background: url(/img/wallpapersden.com_stardew-valley_1920x1080.jpg);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quiz {
  /*background: #e3f6f5;*/
  width: 30rem;
  padding: 4rem;
  text-align: center;
}

h1 {
  color: #57636e;
  font-size: 3rem;
  text-align: center;
  padding: 2px 0;
}

#question {
  font-size: 2rem;
  /*font-size: 1.7rem;*/
  /*color: #5a6772;*/
  color:  #572300 ;
  font-family: "Stardew-Valley";
}

.button {
  /*background-color: #34a3a3;*/
  background-color: #F1AE64;
  border-color: #79320E;
  /*color: white;*/
  color: #572300;
  /*width: 250px;*/
  width: 200px;
  /*font-size: 20px;*/
  font-size: 25px;
  font-family: "Stardew-Valley";
  border-radius: 0.3rem;
  border-width: 2px;
  padding: 10px 20px;
  margin: 10px 40px 10px;
}

.button:hover {
  cursor: pointer;
  background: #57636e;
}

#progress {
  /*font-size: 20px;*/
  font-size: 30px;
  font-family: "Stardew-Valley";
  color: #572300;
}

#logo-stardew {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Stardew-Valley";
  src: url("/fonts/Stardew_Valley.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
